<footer class="site-footer">

  <div class="container-fluid text-center">
  <div class="row" style="display:inline-block;vertical-align:middle;">
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-6 col-lg-2">
       <a href="https://www.utsa.edu"> <img src ="{{site.baseurl}}/images/logos/utsa.png" alt="UTSA." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
</div>
</footer>
